server:
    port: 8761

eureka:
    instance:
        hostname: localhost
    client:
        register-with-eureka: false
        fetchRegistry: false
        service-url:
            defaultZone: http://localhost:8761/eureka/
    server:
        enable-self-preservation: false #自我保护